spring:
  application:
    name: nutricionista
  datasource:
    url: jdbc:postgresql://localhost:5432/nutricion_clinic
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

logging:
  level:
    root: INFO
    com.vitorbastosbn: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    enabled: true

# Configurações JWT
app:
  jwt:
    secret: "my-super-secret-key-that-is-at-least-32-characters-long-for-hs256-algorithm"
    expiration: 3600  # 1 hora em segundos
    refresh-expiration: 604800  # 7 dias em segundos
